@font-face {
    font-family: valorant;
    src: url(valorant.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-header{
    height: 60px;
    width: auto;
    padding-bottom: 25px;
}

tr img{
  aspect-ratio: 16/9;
  width: 600px;
  margin: 0;
  padding: 0;
  transform: scale(105%);
}

th{
  color: beige;
  font-size: 25px;
  background-color: teal;
  text-shadow: 4px 1px rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul{
    float: right;
    padding: 25px;
    
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

a:hover{
    color: teal;
    font-weight: bold;
}

.cover{
    position: relative;
    width: auto;
    padding-top: 0px;
    z-index: 1;
}

.bg{
    position: absolute;
    width: 100%;
    height: 430px;
    background-image: url(https://64.media.tumblr.com/18001d21d755f9d4e97721bfcc929870/c484a1bd3c346612-9e/s540x810/24565def3179adb5e58a98250863c9f57904fae0.gifv);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: brightness(80%);
}

.bg2 p{
  text-align: right;
  position: absolute;
  font-family: valorant;
  width: 500px;
  right: 70px;
  top: 50%;
  align-items: center;
  font-size: larger;
  color: white;
}
.bg2{
    width: 100%;
    position: relative;
    height: 300px;
    background-color: black;
    padding-right: 0svh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    background-image: url(https://64.media.tumblr.com/b9666a1de10850bf313fa49d84f958ca/c484a1bd3c346612-96/s540x810/11b7bf61d6ee54e9dcf62f4f526f971bdc01ebfc.gifv);
}

.bg2 img{
  height: 150px;
  width: 150px;
  position: absolute;
  right: 480px;
}
.facilities{
    margin-left: 140px;
    font-family: valorant;
    font-size: 2em;
    margin-bottom: 50px;
}


.btn{
    position: relative;
    left: 50%;
    transform: translate();
    padding: 16px;
    background-color: teal;
    color: white;
    border-radius: 4px;
    border: 1px solid #ffff;
    margin-bottom: 150px;
}

.btn:hover{
    color: teal;
    background-color: azure;
    font-weight: bolder;
    border-radius: 6px;
    border: 1px black solid;
}

.back-btn {
  color: white;
  background-color: teal;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none; /* Remove underline */
  font-size: 1.2em;
  display: inline-block;
  position: absolute;
  bottom:0px; 
  left: 50%;
  transform: translateX(-50%); 
}

.back-btn:hover {
  background-color: whitesmoke; 
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
  }



.statscontainer {
  display: flex;
}
.gojoprofile {
    background-color: rgba(0, 0, 0, 0.7);
    height: 700px;
    padding: 20px;
    right: 200px;
    border-radius: 15px;
    width: calc(50% - 10px); /**/
    display: inline-block; /**/
    background-size: cover;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/92dc41d9-3e98-4010-a39f-e87a33468720/dg9o7ay-b636fd8a-0b02-43c4-910d-ac916179e39f.jpg/v1/fit/w_799,h_1188,q_70,strp/satoru_gojo_full_body__jujutsu_kaisen__by_chrisaimdead_dg9o7ay-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTE4OCIsInBhdGgiOiJcL2ZcLzkyZGM0MWQ5LTNlOTgtNDAxMC1hMzlmLWU4N2EzMzQ2ODcyMFwvZGc5bzdheS1iNjM2ZmQ4YS0wYjAyLTQzYzQtOTEwZC1hYzkxNjE3OWUzOWYuanBnIiwid2lkdGgiOiI8PTc5OSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.BVNvKGACo9jwH2EM0tg_K81htsrKNfIRi4jBPONHwzs);
}

.gojostats {
    font-size: larger;
    width: 10%;
    font-size: 35px;
    height: 700px;
    width: calc(50% - 7px);
    padding: 20px;
    display: inline-block;
}

.domainexpansion img{
  border-radius: 5px;
  width: 40%;
}
.domainexpansion{
  background-color: black;
  padding: 50px 10px;
  display: flex;
}

.box{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    border-radius: 10px;
}

.box img{
    aspect-ratio: 1/1;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 20px;
}

.holder{
    width: auto;
    padding: 50px;
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    align-items: start;
}

.teachers{
    margin-left: 140px;
    font-family: valorant;
    font-size: 2em;
    margin-bottom: 50px;
}

.yagaprofile {
    background-color: rgba(0, 0, 0, 0.7);
    height: 700px;
    padding: 20px;
    right: 200px;
    border-radius: 15px;
    width: 50%;
    width: calc(50% - 10px); /**/
    display: inline-block; /**/
    background-size: cover;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/92dc41d9-3e98-4010-a39f-e87a33468720/dg9o7j4-f5bc4fa6-3137-4df5-84bc-3e35755e9ca4.jpg/v1/fit/w_751,h_1083,q_70,strp/masamichi_yaga_full_body__jujutsu_kaisen__by_chrisaimdead_dg9o7j4-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MyIsInBhdGgiOiJcL2ZcLzkyZGM0MWQ5LTNlOTgtNDAxMC1hMzlmLWU4N2EzMzQ2ODcyMFwvZGc5bzdqNC1mNWJjNGZhNi0zMTM3LTRkZjUtODRiYy0zZTM1NzU1ZTljYTQuanBnIiwid2lkdGgiOiI8PTc1MSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.eDFIHnnImJpw0DbonagvJtPVVV7Fz6NG4cX_V2Yauvs);
}

.yagastats {
  font-size: larger;
  width: 10%;
  font-size: 35px;
  height: 700px;
  width: calc(50% - 7px);
  padding: 20px;
  display: inline-block;
}

.shokoprofile {
    background-color: rgba(0, 0, 0, 0.7);
    height: 700px;
    padding: 20px;
    right: 200px;
    border-radius: 15px;
    width: calc(50% - 10px); /**/
    display: inline-block; /**/
    width: 50%;
    background-size: cover;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/92dc41d9-3e98-4010-a39f-e87a33468720/dgydcfa-610dfe32-a586-4cf1-a48a-5ddcbb40a943.jpg/v1/fit/w_626,h_1094,q_70,strp/jjk_shoko_ieiri_full_body_by_chrisaimdead_dgydcfa-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA5NCIsInBhdGgiOiJcL2ZcLzkyZGM0MWQ5LTNlOTgtNDAxMC1hMzlmLWU4N2EzMzQ2ODcyMFwvZGd5ZGNmYS02MTBkZmUzMi1hNTg2LTRjZjEtYTQ4YS01ZGRjYmI0MGE5NDMuanBnIiwid2lkdGgiOiI8PTYyNiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.9Ol232LMw0fijMeZLi1jpT4_hudliyVc5wI6i5Abvtw);
}

.shokostats {
  font-size: larger;
  width: 10%;
  font-size: 35px;
  height: 700px;
  width: calc(50% - 7px);
  padding: 20px;
  display: inline-block;
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    background-color: #2f2f2f;
    color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }